.card {
  flex: 1;
  max-width: 600px;
  height: 600px;
  margin: 75px 0 50px 75px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  header {
    border-bottom: 1px solid $grey;
    padding: 25px;
  }
  footer {
     border-top: 1px solid $grey;
     padding: 25px;
     position: absolute;
     bottom: 0;
     width: 100%;
  }
}

.list-task {
  margin: 20px 25px;
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid $grey;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  span {
    margin-left: 25px;
    width: 100%;
  }
  &:hover {
    background-color: $light-grey;
    color: $light-blue;
    cursor: pointer;
  }
}

.input-group {
  display: flex;
  padding: 0 20px;
  input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid $grey;
    width: 100%;
    margin-right: 20px;
    padding-left: 20px;
    &:focus {
      border: 1px solid $light-blue;
    }
  }
}