@import 'reset';

#main {
  display: flex;
}

$left-margin: 40px;
$light-blue: rgb(58, 134, 255);
$ligher-blue: rgb(88, 164, 255);
$light-grey: rgb(240, 240, 240);

@import 'sidebar';

.selected {
  color: $light-blue;
}

.add-button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border-style: none;
  background-color: $light-blue;
  color: white;
  transition: background-color 0.2s;
  ;
}
.add-button:hover {
  background-color: $ligher-blue;
  cursor: pointer;
}