@import 'reset';

#main {
  display: flex;
}

$light-blue: rgb(58, 134, 255);
$lighter-blue: rgb(88, 164, 255);
$light-grey: rgb(240, 240, 240);
$grey: rgb(185,185,185);

@import 'sidebar';

// Highlighting

.selected {
  color: $light-blue;
  font-weight: 700;
}

// Buttons

.add-button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border-style: none;
  background-color: $light-blue;
  color: white;
  transition: background-color 0.2s;
  &:hover {
    background-color: $lighter-blue;
    cursor: pointer;
  }
}

.complete-button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid $grey;
  background-color: white;
  transition: background-color 0.2s;
  &:hover {
    background-color: $light-blue;
    cursor: pointer;
  }
}
// Main Content

.content {
  flex: 1;
  min-height: 100vh;
  background-color: $light-grey;
  display: flex;
  justify-content: flex-start;
}

.card {
  flex: 1;
  max-width: 600px;
  height: 600px;
  margin: 75px 0 50px 75px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  header {
    border-bottom: 1px solid $grey;
    padding: 25px;
  }
  footer {
     border-top: 1px solid $grey;
     padding: 25px;
     position: absolute;
     bottom: 0;
     width: 100%;
  }
}

.input-group {
  display: flex;
  padding: 0 20px;
  input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid $grey;
    width: 100%;
    margin-right: 20px;
    padding-left: 20px;
  }
}

.list-task {
  margin: 20px 25px;
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid $grey;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  span {
    margin-left: 25px;
    width: 100%;
  }
  &:hover {
    background-color: $light-grey;
    color: $light-blue;
    cursor: pointer;
  }
}